/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/*.sqlite
/database/*.sqlite-journal
Homestead.json
Homestead.yaml
